@charset "utf-8";
/* CSS Document */
/* This is a style sheet for Jose Marcel Santos's portfolio */
body {
	font-family:"Open Sans","segoe ui",Helvetica, Arial, Sans-Serif;
	color: #FFF;
	font-size:20px;
	background-image:url("images/background.jpg");
	background-size:cover; 
	background-repeat:no-repeat;
	background-position:top right;
	background-attachment:fixed;
	margin:0;
	padding:0;
	
}
#intro{
	position:relative;
	top:150px;
	height:400px;
	width:100%;
	text-align: center;
}
.title{
	position:relative;
	font-size:50px;
	font-weight:bolder;
}
.introtext{
	position:relative;
	left:10px;
}
.whitebox {
	position:relative;
	height:100px;
	background-color:#FFF;
	border:none;
	color:#353535;
	text-align:center;


}
a{
	color:#FFF;
}
