@charset "utf-8";
/* CSS Document */
/* This is a style sheet for Jose Marcel Santos's portfolio */
body{
	font-family:"Open Sans","segoe ui",Helvetica, Arial, Sans-Serif;
	color: #FFF;
	font-size:18px;

	background-image:url("Background.png");
	background-size:cover; 
	background-repeat:no-repeat;
	background-position:top right;
	background-attachment:fixed;
	
}
div.box{
	position:fixed;
	top:150px;
	right:250px;
	background-color:#686868;
	width: 500px;
	height:230px;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
}
div.header{
	font-family: 'Pacifico', cursive;
	position:relative;
	left:10px;
	font-size:48px;
	font-weight:200;
}
div.boxtext{
	position:relative;
	left:10px;
}
a{
	color:#FFF;
}
/* div for underline, doesn't scale properly on mobile, temporarily removed 
div.bar{
	position:relative;
	background-color:black;
	height:1px;
	width:400px;


}
*/